{% extends "my_app/base.html" %}

{%block content%}
<h1>Добро пожаловать!</h1>

{% if is_logged_in %}
  <p style="color: green;">Вы вошли в систему.</p>
{% else %}
  <p style="color: red;">Пожалуйста, авторизуйтесь.</p>
{% endif %}

{% if user_age < 18 %}
  <p>Вам нет 18 лет.</p>
{% elif user_age < 60 %}
  <p>Вы взрослый пользователь.</p>
{% else %}
  <p>Вы пожилой пользователь.</p>
{% endif %}

<h2>Список пользователей:</h2>
<ul>
  {% for name in names %}
    <li>{{ name }}</li>
  {% endfor %}
</ul>
{%endblock %}